<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FreeCRM Applicatin automation testsuite">

	<listeners>
		<listener class-name="com.qa.listner.AllureFailTestListener" />
	</listeners>


	<test name="FreeCRM app test cases">



		<classes>
			<class name="com.qa.testcases.TestLoginpage"></class>
			<!-- <class name="com.crm.qa.testcases.TestContactspage"></class> -->
			<!-- <class name="com.crm.qa.testcases.TestHomepage"></class> -->
		</classes>


	</test>
</suite>
